{% extends "base.twig" %}
{% block header %}
    <h1>Face 2 Face</h1>
    <h2>Результаты очного противостояния 2-х команд</h2>
{% endblock %}

{% block content %}
    <p>Coming soon</p>
{% endblock %}
